<footer>
  <div class="container">

    <!-- Créditos del desarrollador -->
    <p class="mb-1">
      &copy; 2025 Click y Aprende — Desarrollado por 
      <a href="https://github.com/diegoreyesDev" target="_blank">DiegoReyesDev</a>.
    </p>

    <!-- Información profesional adicional -->
    <p class="mb-2 footer-info">
      Fullstack JAVA & UI/UX Developer | <a href="mailto:diegoreyes.dev@gmail.com">Correo Electrónico</a>
    </p>

    <!-- Logo institucional -->
    <div class="footer-logo">
      <img src="assets/img/logo_ipchile2-blanco.png" alt="IPCHILE" />
    </div>

  </div>
</footer>
